{% extends "global/Page.html" %}
{% load staticfiles otree %}


{% block title %}
    <span style="font-size:28px; " >  Hier zeigen wir Ihnen kurz wie die Entscheidung funktioniert  </span> </td>
    <br/>
{% endblock %}




{% block content %}




    <form oninput="a.value=parseInt(test.value); b.value=10 - parseInt(test.value); " >

    {%formfield player.test  %}


    keep <output name="b"></output> $ and

    send <output name="a" ></output> $

    </form>


    {% next_button %}

{% endblock %}